/* screen - mobile */

.mobile {
  align-items: center;
  background-color: var(--basewhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  position: relative;
}

.mobile .log-in {
  align-items: center;
  align-self: stretch;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 812px;
  padding: 48px 0px;
  position: relative;
}

.mobile .container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  padding: 0px 16px;
  position: relative;
}

.mobile .content-1 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  gap: 32px;
}

.mobile .header {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  position: relative;
}

.mobile .logomark {
  align-items: flex-start;
  box-shadow: 0px 1.5px 3px #1018280f , 0px 1.5px 4.5px #1018281a;
  display: flex;
  position: relative;
  width: fit-content;
}

.mobile .frame-1 {
  background-color: #161a21;
  border-radius: 10.5px;
  height: 48px;
  min-width: 48px;
  overflow: hidden;
  position: relative;
}

.mobile .component-3 {
  height: 39px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 39px;
}

.mobile .text-and-supporting-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.mobile .text-2 {
  align-self: stretch;
  color: var(--gray900);
  font-weight: 600;
  line-height: 32px;
}

.mobile .content-2 {
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  flex-direction: column;
  gap: 24px;
}

.mobile .content {
  align-items: center;
  flex: 1;
  gap: 8px;
}

.mobile .text {
  color: var(--gray500);
  flex: 1;
  font-weight: 400;
  line-height: 24px;
}

.mobile .text-and-supporting-text-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.mobile .text-3 {
  align-self: stretch;
  color: var(--gray700);
  font-weight: 500;
  line-height: 20px;
}

.mobile .text-1 {
  color: var(--primary700);
  font-weight: 600;
  line-height: 20px;
  width: fit-content;
}

.mobile .text-4 {
  color: var(--basewhite);
  font-weight: 600;
  line-height: 24px;
  width: fit-content;
}

.mobile .text-5 {
  color: var(--gray700);
  font-weight: 600;
  line-height: 24px;
  width: fit-content;
}

.mobile .text-6 {
  color: var(--gray600);
  font-weight: 400;
  line-height: 20px;
  width: fit-content;
}

.mobile .content-3 {
  display: flex;
  position: relative;
}

.mobile .text-7 {
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}
